////////////////////////////////////////////////////////////////////////////////
// Shadow Utilities 
////////////////////////////////////////////////////////////////////////////////
.dj-u-has-shadow--down {
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16);
}

.dj-u-has-shadow--up {
  box-shadow: 0 -2px 10px 0 rgba(0,0,0,0.16);
}

////////////////////////////////////////////////////////////////////////////////
// Image Utilities
////////////////////////////////////////////////////////////////////////////////
.dj-u-image--responsive {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.dj-u-image--circle {
  border-radius: 50%;
}

////////////////////////////////////////////////////////////////////////////////
// Body Utilities
////////////////////////////////////////////////////////////////////////////////
.dj-u-body--has-fixed-header-and-footer {
  margin-top: 55px;
  margin-bottom: 80px;
}