//Screen Size variables
$screen-size-mobile-sm: 320px;
$screen-size-mobile-md: 375px;
$screen-size-mobile-lg: 425px;
$screen-size-tablet: 768px;
$screen-size-laptop: 1024px;
$screen-size-laptop-lg: 1440px;