<footer class="dj-app-bar dj-app-bar--fixed-to-bottom dj-u-has-shadow--up">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 offset-sm-8">
        <div class="dj-social-links">
          <a href="https://github.com/davidjahns" class="dj-social-links__link">github</a>
          <a href="https://codepen.io/davidjahns/" class="dj-social-links__link">codepen</a>
          <a href="https://www.linkedin.com/in/davidjahns/" class="dj-social-links__link">linkedin</a>
          <a href="https://twitter.com/davidjahns" class="dj-social-links__link">twitter</a>
          <a href="https://www.instagram.com/davidjahns/" class="dj-social-links__link">instagram</a>
        </div>
      </div>
    </div>
  </div>
</footer>
